{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PALLADIUM</title>
    <link rel="stylesheet" href="{% static 'news/style.css' %}">
</head>
<body>
    <section class="title_section">
        <div class = "headings">
        
        <h1>PALLADIUM</h1>
        <h3>Explore the planet - through headlines</h3>
    </div>
    </section >
    
    <section class = "space">
    <div id="canvas-container"></div>
    <script src="https://unpkg.com/three@0.160.0/build/three.min.js"></script>
    <script type= "module" src="{% static 'news/globe.js' %}"></script>
   
    </section>
</body>
</html>
