@font-face {
    font-family: 'CUSTOM';
    src: url("superbrigadechrome-dy0xm_1-webfont.woff2") format("woff2"),
        url("superbrigadechrome-dy0xm_1-webfont.woff") format("woff"),
        url("SuperBrigadeChrome-DY0xm.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: auto;
    
}

.title_section {
        height: 100vh;
        color: white;
        width: 100%;
        background-color: black;
        justify-content: center;
        align-items: center;
        display: flex;
}

.headings{
    font-family: 'CUSTOM', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.headings h1 {
    color: rgb(247, 24, 247);
    font-family: 'CUSTOM', sans-serif;
    font-size: 5rem;
    /* Bigger title */
    font-weight: normal;
    letter-spacing: 0.25em;
    /* More spacing */
    line-height: 5.5rem;
    /* More breathing room */
    margin: 0;
    text-transform: uppercase;
}

.headings h3 {
    font-family: 'CUSTOM', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0.18em;
    /* More spacing */
    line-height: 1.2;
    margin-top: 1.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
}


.space{
    width: 100vw;
    height: 100vh;
    display: block;
    cursor: grab;
}

.space:active {
    cursor: grabbing;
}